/*
 * ---------------------------------------------------
 *  Nextflow config file for deciding which parts of
 *  the pipeline will run
 * ---------------------------------------------------
 */

// Defaults
params {
    run_genome_prep        = true
    run_input_check        = true
    run_cat_fastq          = true
    run_trim_galore_fastqc = true

    run_alignment          = true
    run_read_filter        = true
    run_mark_dups          = true
    run_remove_dups        = true

    run_peak_calling       = true

    run_reporting          = true
    run_multiqc            = true
    run_igv                = false

    // local pipeline
    run_read_qc                   = true
    run_peak_qc                   = true
    run_differential_peaks        = true
    run_summary_plots             = true
}

if(params.workflow == "process_controls"){
    params.run_differential_peaks = false
    if (params.igg_dir == null){ params.use_igg = 'none'} else { params.use_igg = 'saved' }
}

if(params.skip_trimming){ params.end_to_end = true}
if(params.skip_removeduplicates || !params.run_mark_dups) { params.run_remove_dups        = false }
if(params.skip_peak_qc)                                   { params.run_peak_qc            = false }
if(params.skip_reporting) {
    params.run_reporting     = false
}


if(!params.run_multiqc){params.run_read_qc = false}
if(!params.run_read_qc && !params.run_peak_qc){params.run_reporting = false}
if(!params.run_peak_qc){params.run_differential_peaks = false} // should be removed when --step works
if(!params.comparison){params.run_differential_peaks = false}

if(params.only_input) {
    params.run_genome_prep        = false
    params.run_input_check        = true
    params.run_cat_fastq          = false
    params.run_trim_galore_fastqc = false
    params.run_alignment          = false
    params.run_read_filter        = false
    params.run_mark_dups          = false
    params.run_remove_dups        = false
    params.run_peak_calling       = false
    params.run_reporting          = false
    params.run_multiqc            = false
    params.run_igv                = false
    params.run_read_qc              = false
    params.run_peak_qc              = false
    params.run_differential_peaks     = false
    params.run_summary_plots          = false
}

if(params.only_genome) {
    params.run_genome_prep        = true
    params.run_input_check                 = false
    params.run_cat_fastq          = false
    params.run_trim_galore_fastqc = false
    params.run_alignment          = false
    params.run_read_filter        = false
    params.run_mark_dups          = false
    params.run_remove_dups        = false
    params.run_peak_calling       = false
    params.run_reporting          = false
    params.run_multiqc            = false
    params.run_igv                = false
    params.run_read_qc              = false
    params.run_peak_qc              = false
    params.run_differential_peaks     = false
    params.run_summary_plots          = false
}

if(params.only_fastq) {
    params.run_genome_prep        = true
    params.run_input_check        = true
    params.run_cat_fastq          = true
    params.run_trim_galore_fastqc = true
    params.run_alignment          = false
    params.run_read_filter        = false
    params.run_mark_dups          = false
    params.run_remove_dups        = false
    params.run_peak_calling       = false
    params.run_reporting          = false
    params.run_multiqc            = false
    params.run_igv                = false
    params.run_read_qc              = false
    params.run_peak_qc              = false
    params.run_differential_peaks     = false
    params.run_summary_plots          = false
}

if(params.only_alignment) {
    params.run_read_filter        = false
    params.run_mark_dups          = false
    params.run_remove_dups        = false
    params.run_peak_calling       = false
    params.run_reporting          = false
    params.run_multiqc            = false
    params.run_igv                = false
    params.run_read_qc              = false
    params.run_peak_qc              = false
    params.run_differential_peaks     = false
    params.run_summary_plots          = false
}

if(params.only_filtering) {
    params.run_mark_dups          = false
    params.run_remove_dups        = false
    params.run_peak_calling       = false
    params.run_reporting          = false
    params.run_multiqc            = false
    params.run_igv                = false
    params.run_read_qc              = false
    params.run_peak_qc              = false
    params.run_differential_peaks     = false
    params.run_summary_plots          = false
}

if(params.only_peak_calling) {
    params.run_reporting          = false
    params.run_multiqc            = false
    params.run_igv                = false
    params.run_read_qc              = false
    params.run_peak_qc              = false
    params.run_differential_peaks     = false
    params.run_summary_plots          = false
}

if(params.skip_multiqc) { params.run_multiqc = false }

if (params.step == 'peak_calling'){
    params.run_genome_prep        = false
    params.run_input_check        = true
    params.run_cat_fastq          = false
    params.run_trim_galore_fastqc = false
    params.run_alignment = false
    params.run_read_filter = false
    params.run_mark_dups = false
    params.run_remove_dups = false
    params.run_multiqc = false
    params.run_read_qc = false
}

if (params.step == 'peak_qc' || params.step == 'consensus_peaks' ){
    params.run_genome_prep        = false
    params.run_input_check        = true
    params.run_cat_fastq          = false
    params.run_trim_galore_fastqc = false
    params.run_alignment = false
    params.run_read_filter = false
    params.run_mark_dups = false
    params.run_remove_dups = false
    params.run_multiqc = false
    params.run_read_qc = false
    params.run_peak_calling = false
}

if (params.step == 'differential_peaks'){
    params.run_genome_prep        = false
    params.run_input_check        = true
    params.run_cat_fastq          = false
    params.run_trim_galore_fastqc = false
    params.run_alignment = false
    params.run_read_filter = false
    params.run_mark_dups = false
    params.run_remove_dups = false
    params.run_multiqc = false
    params.run_read_qc = false
    params.run_peak_calling = false
    params.run_peak_qc = false
}

if (params.update){
    params.run_genome_prep        = false
    params.run_input_check        = true
    params.run_cat_fastq          = false
    params.run_trim_galore_fastqc = false
    params.run_alignment          = false
    params.run_read_filter        = false
    params.run_mark_dups          = false
    params.run_remove_dups        = false
    params.run_peak_calling       = false
    params.run_reporting          = false
    params.run_multiqc            = false
    params.run_igv                = false
    params.run_read_qc                   = false
    params.run_peak_qc                   = false
    params.run_differential_peaks        = false
    params.run_summary_plots             = false
}

if (params.update == 'mapping'){
    params.run_alignment          = true
    params.run_read_filter        = true
    params.run_mark_dups          = true
    params.run_remove_dups        = true
    params.run_read_qc            = true
    params.run_multiqc            = true
}

if (params.update == 'peak_calling'){
    params.run_peak_calling       = true
}

if (params.update == 'peak_qc' || params.update == 'consensus_peaks'){
    params.run_peak_qc       = true
}

if (params.update == 'differential_peaks'){
    params.run_differential_peaks        = true
}

if (params.update == 'summary_plots'){
    params.run_summary_plots             = true
}

if (params.update == 'report'){
    params.run_reporting          = true
}
