/*
 * ---------------------------------------------------
 *  Nextflow config file for deciding which parts of
 *  the pipeline will run
 * ---------------------------------------------------
 */

// Defaults
params {
    run_genome_prep        = true
    run_input_check        = true
    run_cat_fastq          = true
    run_trim_galore_fastqc = true

    run_alignment          = true
    run_read_filter        = true
    run_mark_dups          = true
    run_remove_dups        = true

    run_peak_calling       = true

    run_reporting          = true
    run_multiqc            = true
    run_igv                = false

    // local pipeline
    run_read_qc                   = true
    run_peak_qc                   = true
    run_differential_peaks        = true
    run_combine_igg               = false
    run_summary_plots             = true
}

params.callers = params.peakcaller ? params.peakcaller.split(',').collect{ it.trim().toLowerCase() } : ['seacr', 'macs2']

if(params.skip_trimming){ params.end_to_end = true}
if(params.skip_removeduplicates || !params.run_mark_dups) { params.run_remove_dups        = false }
if(params.skip_peak_qc)                                   { params.run_peak_qc            = false }
if(params.skip_reporting) {
    params.run_reporting     = false
}

if(params.only_input) {
    params.run_genome_prep        = false
    run_input_check                 = true
    params.run_cat_fastq          = false
    params.run_trim_galore_fastqc = false
    params.run_alignment          = false
    params.run_read_filter        = false
    params.run_mark_dups          = false
    params.run_remove_dups        = false
    params.run_peak_calling       = false
    params.run_reporting          = false
    params.run_multiqc            = false
    params.run_igv                = false
    params.run_read_qc              = false
    params.run_peak_qc              = false
    params.run_differential_peaks     = false
    params.run_combine_igg            = false
    params.run_summary_plots          = false
}

if(params.only_genome) {
    params.run_genome_prep        = true
    run_input_check                 = false
    params.run_cat_fastq          = false
    params.run_trim_galore_fastqc = false
    params.run_alignment          = false
    params.run_read_filter        = false
    params.run_mark_dups          = false
    params.run_remove_dups        = false
    params.run_peak_calling       = false
    params.run_reporting          = false
    params.run_multiqc            = false
    params.run_igv                = false
    params.run_read_qc              = false
    params.run_peak_qc              = false
    params.run_differential_peaks     = false
    params.run_combine_igg            = false
    params.run_summary_plots          = false
}


if(params.only_alignment) {
    params.run_read_filter        = false
    params.run_mark_dups          = false
    params.run_remove_dups        = false
    params.run_peak_calling       = false
    params.run_reporting          = false
    params.run_multiqc            = false
    params.run_igv                = false
    params.run_read_qc              = false
    params.run_peak_qc              = false
    params.run_differential_peaks     = false
    params.run_combine_igg            = false
    params.run_summary_plots          = false
}

if(params.only_filtering) {
    params.run_mark_dups          = false
    params.run_remove_dups        = false
    params.run_peak_calling       = false
    params.run_reporting          = false
    params.run_multiqc            = false
    params.run_igv                = false
    params.run_read_qc              = false
    params.run_peak_qc              = false
    params.run_differential_peaks     = false
    params.run_combine_igg            = false
    params.run_summary_plots          = false
}

if(params.only_peak_calling) {
    params.run_reporting          = false
    params.run_multiqc            = false
    params.run_igv                = false
    params.run_read_qc              = false
    params.run_peak_qc              = false
    params.run_differential_peaks     = false
    params.run_combine_igg            = false
    params.run_summary_plots          = false
}

if(params.skip_multiqc) { params.run_multiqc = false }

if(params.run_combine_igg){ params.run_individual_igg = false }

if(params.workflow == "process_controls"){ params.run_differential_peaks = false }

if(!params.run_multiqc){params.run_read_qc = false}
if(!params.run_read_qc && !params.run_peak_qc){params.run_reporting = false}
if(!params.run_peak_qc){params.run_differential_peaks = false} // should be removed when --step works
if(!params.comparison){params.run_differential_peaks = false}

if (params.step && !['mapping', 'peak_calling', 'peak_qc', 'differential_peaks'].contains(params.step)) {
    log.error "Invalid step specified: ${params.step}. Must be one of: mapping, peak_calling, differential_peaks"
    System.exit(1)
}

if (params.update && !['mapping', 'peak_calling', 'peak_qc', 'differential_peaks', 'summary_plots', 'report'].contains(params.update)) {
    log.error "Invalid update step specified: ${params.update}. Must be one of: mapping, peak_calling, peak_qc, differential_peaks, summary_plots, report"
    System.exit(1)
}

if (params.step == 'peak_calling'){
    params.run_genome_prep        = false
    params.run_input_check        = true
    params.run_cat_fastq          = false
    params.run_trim_galore_fastqc = false
    params.run_alignment = false
    params.run_read_filter = false
    params.run_mark_dups = false
    params.run_remove_dups = false
    params.run_multiqc = false
}

if (params.step == 'peak_qc'){
    params.run_genome_prep        = false
    params.run_input_check        = true
    params.run_cat_fastq          = false
    params.run_trim_galore_fastqc = false
    params.run_alignment = false
    params.run_read_filter = false
    params.run_mark_dups = false
    params.run_remove_dups = false
    params.run_multiqc = false
    params.run_peak_calling = false
}

if (params.step == 'differential_peaks'){
    params.run_genome_prep        = false
    params.run_input_check        = true
    params.run_cat_fastq          = false
    params.run_trim_galore_fastqc = false
    params.run_alignment = false
    params.run_read_filter = false
    params.run_mark_dups = false
    params.run_remove_dups = false
    params.run_multiqc = false
    params.run_peak_calling = false
    params.run_peak_qc = false
}

if (params.update){
    run_genome_prep        = false
    run_input_check        = true
    run_cat_fastq          = false
    run_trim_galore_fastqc = false
    run_alignment          = false
    run_read_filter        = false
    run_mark_dups          = false
    run_remove_dups        = false
    run_peak_calling       = false
    run_reporting          = false
    run_multiqc            = false
    run_igv                = false
    run_read_qc                   = false
    run_peak_qc                   = false
    run_differential_peaks        = false
    run_combine_igg               = false
    run_summary_plots             = false
}

if (params.update == 'mapping'){
    run_alignment          = true
    run_read_filter        = true
    run_mark_dups          = true
    run_remove_dups        = true
    run_read_qc            = true
    run_multiqc            = true
}

if (params.update == 'peak_calling'){
    run_peak_calling       = true
}

if (params.update == 'peak_qc'){
    run_peak_qc       = true
}

if (params.update == 'differential_peaks'){
    run_differential_peaks        = true
}

if (params.update == 'summary_plots'){
    run_summary_plots             = true
}

if (params.update == 'report'){
    run_reporting          = true
}
